@model Fairy.ViewModels.BookFormViewModel
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New book</h2>

@using (Html.BeginForm("Save", "Books"))
{
    @Html.HiddenFor(m => m.Book.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Book.Name)
        @Html.TextBoxFor(m => m.Book.Name, new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.ReleaseDate)
        @Html.TextBoxFor(m => m.Book.ReleaseDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.NumberInStock)
        @Html.TextBoxFor(m => m.Book.NumberInStock, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.GenreId)
        @Html.DropDownListFor(m => m.Book.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class="form-control"})
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}
